<mat-toolbar color="primary">
  <h3 class="nav_logo">CRS</h3>
  <ul>
    <li>
      <a routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/aboutus">About Us</a>
    </li>
  </ul>
  <div class="nav-right">
    <ng-container *ngIf="!(af.authState | async); else logged_in">
      <button mat-raised-button color="accent">
        <a routerLink="/"> Sign In </a>
      </button>
      <button mat-raised-button color="accent">
        <a routerLink="/signup"> Sign Up </a>
      </button>
    </ng-container>
    <ng-template #logged_in>
      <button mat-raised-button color="accent" (click)="signOut()">
        Sign out
      </button>
    </ng-template>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>