<div class="form_wrapper">
  <form>
    <div class="form-header">
      <h2>Sign up</h2>
    </div>
    <div class="form_padding">
      <input class="username" type="text" placeholder="Username" />
      <input type="email" id="email" name="email-address" placeholder="Email Address"  />
      <input class="password" type="password" placeholder="Password" />
      <input type="password" name="name" placeholder="Confirm your Password"/>

      <strong>Signup As</strong>
      <mat-radio-group [formControl]="myGroup.controls['accountType']" name="accountType">
        <mat-radio-button class="radio-bttn" [checked]="true" value="1">Company</mat-radio-button>
        <mat-radio-button class="radio-bttn" value="2">Student</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary">Sign up</button>
    </div>
    
  </form>
</div>


