<div class="text_wrapper">
    <h2>
        Campus Recruitment System</h2>
      <p>
        In Campus Hiring process, colleges invite leading technology or non-tech giants to visit their campus for recruitment of
        individuals. The employer company pays a visit to the colleges to shortlist the potential employees. Each of these companies
        has their own criteria for selection process, such as students with great communication skills, or students who have passed
        with 65% or above. They conduct written tests first, and then group discussions and finally, they conduct personal interviews,
        as their recruitment process. Every college has a Placement Officer who visits different companies personally and convinces
        the HR executives of the company that they have best talents they should hire. The selection ratio is very important for
        the HR. The Placement Officer shows the brochure of his college or website. He also shows the labs, infrastructure facilities,
        kind of activities, training departments, strength of students with high grades etc. The HR department pays a visit to
        the college if they are impressed with the presentation. The college makes all the arrangement for their visit.
      </p>
</div>
